/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";


agm-map {
  height: 600px;
  width: 600px;

}
app-map {
  height: 600px;
  width: 600px;

}
