/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";


.modal-open .modal {
  /* modal container fixed across whole screen */
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* z-index must be higher than .modal-background */
  z-index: 1000;

  /* enables scrolling for tall modals */
  overflow: auto;
}

.modal-body, .modal-header, .modal-footer{
  padding: 20px;
  background: #fff;

  margin-left: 40px;
  margin-right: 40px;
}

.modal-body{
  /* margin exposes part of the modal background */
  /*margin: 40px;*/
}

.modal-header{

  /*!* margin exposes part of the modal background *!*/
  margin-top: 40px;
}

.modal-footer{
  /*!* margin exposes part of the modal background *!*/
  margin-bottom: 40px;
}



.modal-open .modal-background {
  overflow: hidden;
  /* modal background fixed across whole screen */
  /*display: none;*/
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* semi-transparent black  */
  background-color: #000;
  opacity: 0.75;

  /* z-index must be below .modal and above everything else  */
  z-index: 900;
}



.modal-open {
  /* body overflow is hidden to hide main scrollbar when modal window is open */
}


.dataTables_filter label{
  display:none;
}

/*agm-map {
  height: 600px;
  width: 600px;

}
app-map {
  height: 600px;
  width: 600px;

}*/
