<!--<p>
  Logged in as: {{ user?.username }}
</p>-->

<!--<table class="table table-hover" cellspacing="0">
  <thead>
  <tr>
    <th>ID</th>
    <th>Tool ID reference</th>
    <th>latitude</th>
    <th>longitude</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let trackerNode of trackers">
      <td>{{trackerNode.id}}</td>
      <td>{{trackerNode.tool_id_fk}}</td>
      <td>{{trackerNode.latitude}}</td>
      <td>{{trackerNode.longitude}}</td>
    </tr>
  </tbody>
</table>


<div [innerHtml] *ngIf="loadUserType()"></div>-->

<!--<p>
  UserType: {{ userType }}
</p>
<div *ngIf="loadUserType()">A test div</div>
&lt;!&ndash;<template [ngIf]="isLoggedIn"></template>&ndash;&gt;

<a [routerLink]="['/login']" class="btn btn-link">Logout</a>-->
