<table id="employeeTable" class="table table-hover" cellspacing="0">
  <thead>
  <tr>
    <th>ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Checkin Date</th>
    <th>Checkout Date</th>
    <th></th>
    <th>
      <button class="btn btn-success" (click)="newEmployee('custom-modal-1', 'New Employee')">New Employee</button>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let visitor of visitorList">
    <td>{{visitor.id}}</td>
    <td>{{visitor.first_name}}</td>
    <td>{{visitor.last_name}}</td>
    <td>{{visitor.checkin_date}}</td>
    <td>{{visitor.checkout_date}}</td>
    <td>{{visitor.checkout_date}}</td>
    <td>
      <button class="btn btn-secondary" (click)="editEmployee(employee, 'custom-modal-1', 'Edit Employee')">Edit
      </button>
    </td>
    <td>
      <button class="btn btn-danger" (click)="deleteVisitor(visitor.id)">Delete</button>
    </td>
  </tr>
  </tbody>
</table>

