<div>
  <button (click)="openModal('custom-modal-1')">NEW EMPLOYEE</button>
</div>


<modal id="custom-modal-1">
  <div class="modal">
    <div class="modal-body">
      <h1>A Custom Modal!</h1>
      <p>
        Home page text: <input type="text" [(ngModel)]="bodyText"/>
      </p>
      <button (click)="closeModal('custom-modal-1');">Close</button>
    </div>
  </div>
  <div class="modal-background"></div>
</modal>

<!--<table class="table table-hover" cellspacing="0">
  <thead>
  <tr>
    <th>ID</th>
    <th>Tool Type</th>
    <th>Status</th>
    <th>Description</th>
    <th>Induction Date</th>
    <th>MISC.</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let tool of tools">
    <td>{{tool.id}}</td>
    <td>{{tool.type}}</td>
    <td>{{tool.status}}</td>
    <td>{{tool.description}}</td>
    <td>{{tool.induction_date}}</td>
    <td *ngIf="tool.MISC">{{tool.MISC}}</td>
  </tr>
  </tbody>
</table>-->



